body{
   background-color: #468eec;
   font-family: sans-serif;
}
header{
    text-align: center;
    color: #ffff;
}
section{
   background-color: #ffff;
   border-radius: 10px;
   padding: 15px;
   width: 500px;
   margin: auto;
   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}
footer{
    text-align: center;
    color: #ffff;
    font-style: italic;
}
#res{
    margin-top: 5px;
}